@use '../app/variables.module.scss';

@mixin mobile-100-w {
    @media (max-width: 500px) {
        width: 100%;
    }
}

@mixin buttons {
	border: variables.$button-border;
	border-radius: variables.$spacing-xxs;
	color: variables.$utility-neutral-0;
	font-size: variables.$button-font-size;
    font-weight: variables.$button-font-weight;
	margin: variables.$button-margin;
	padding: variables.$button-padding-small;

	&.red {
		background-color: variables.$utility-red-50;
	
		&:hover {
			background-color: variables.$utility-red-70;
		}
	}
	
	&.green {
		background-color: variables.$utility-green-60;
	
		&:hover {
			background-color: variables.$utility-green-80;
		}
	}

	&.blue {
		background-color: variables.$theme-a-4;
	
		&:hover {
			background-color: variables.$theme-a-3;
		}
	}

	&:focus-visible {
        outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-s
    }

	&.disabled {
		background-color: variables.$utility-neutral-10;
		color: variables.$utility-neutral-60;

		&:hover {
			background-color: variables.$utility-neutral-10;
			color: variables.$utility-neutral-60;
		}
	}

	.iconStart {
		margin-right: variables.$spacing-xs;
	}

	.iconEnd {
		margin-left: variables.$spacing-xs;
	}
}

@mixin inputs {
	.inputContainer {
		margin-bottom: variables.$input-container-margin-bottom;
	}
	
	.input {
		@include mobile-100-w;
	
		border: variables.$input-border;
		border-radius: variables.$input-border-radius;
		font-size: variables.$input-font-size;
		height: variables.$input-height;
		margin: variables.$input-margin;
		padding: variables.$input-padding;
		width: variables.$input-desktop-width;
	
		&:focus-visible {
			border: variables.$input-border-focus;
		}
	
		&:hover {
			border: variables.$input-border-hover;
		}
	
		&:disabled {
			background-color: variables.$utility-neutral-05;
	
			&:hover {
				border: variables.$input-border;
			}
		}
	}
	
	.input[aria-invalid='true'] {
		border-color: variables.$input-invalid-border-color;
		border-left-width: variables.$input-invalid-border-left-width;
	}
}
