// Display Vars: just for demo style guide purposes
$display-border: 3px dashed skyblue;
$component-area-border: 2px dashed #b511b5;

// IC Product Colors
$ic-blue-10: #e9eff7; // gets used
$ic-blue-20: #a5c0e1;
$ic-blue-30: #79a0d1; // gets used
$ic-blue-40: #4c81c2;
$ic-blue-50: #1f61b3; // gets used
$ic-blue-60: #194e8f;
$ic-blue-70: #133a6b; // gets used
$ic-blue-80: #0c2748;
$ic-blue-90: #061324;

// Utility colors (theme-agnostic)
$utility-green-10: #dbf1de; // gets used
$utility-green-20: #b8e3bd; // gets used
$utility-green-30: #94d49b;
$utility-green-40: #71c67a;
$utility-green-50: #4db859;
$utility-green-60: #3e9347; // gets used
$utility-green-70: #2e6e35; // gets used
$utility-green-80: #1f4a24; // gets used
$utility-green-90: #0f2512;

$utility-red-10: #f3d4d4; // gets used
$utility-red-20: #e7a9a9; // gets used
$utility-red-30: #dc7e7d;
$utility-red-40: #d05352;
$utility-red-50: #c42827; // gets used
$utility-red-60: #9d201f; // gets used
$utility-red-70: #761817; // gets used
$utility-red-80: #4e1010; // gets used
$utility-red-90: #270808;

$utility-yellow-10: #fdf8db; // gets used
$utility-yellow-20: #fcf3c3;
$utility-yellow-30: #faeda4; // gets used
$utility-yellow-40: #f9e886;
$utility-yellow-50: #f7e268;
$utility-yellow-60: #cdb73e;
$utility-yellow-70: #a49331;
$utility-yellow-80: #7b6e25;
$utility-yellow-90: #524919; // gets used

$utility-neutral-0: #fff; // gets used
$utility-neutral-05: #f3f3f3;
$utility-neutral-10: #e8e8e8; // gets used
$utility-neutral-20: #d1d1d1; // gets used
$utility-neutral-30: #bababa; // gets used
$utility-neutral-40: #a3a3a3;
$utility-neutral-50: #a3a3a3; // gets used
$utility-neutral-60: #707070; // gets used
$utility-neutral-70: #545454;
$utility-neutral-80: #383838; // gets used
$utility-neutral-90: #1c1c1c;
$utility-neutral-100: #000; // gets used

// Theme Vars
$theme-a-1: $ic-blue-10;
$theme-a-2: $ic-blue-30;
$theme-a-3: $ic-blue-50;
$theme-a-4: $ic-blue-70;

// Spacing
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-l: 32px;
$spacing-xl: 40px;
$spacing-xxl: 48px;

$heading-margin: 0 0 $spacing-s 0;
$button-margin: $spacing-s;

// Border Radius
$border-radius-s: $spacing-xxs;
$border-radius-m: $spacing-xs;
$border-radius-l: $spacing-l;

// Typography
$h1-font-size: clamp(1.25rem, 4vw + 1rem, 2rem); 
$h2-font-size: clamp(1.125rem, 2vw + 1rem, 1.5625rem);
$h3-font-size: clamp(1rem, 2vw + 0.5rem, 1.25rem);
$h4-font-size: 1rem;
$h5-font-size: 0.875rem;
$h6-font-size: 0.75rem;
$body-font-size: clamp(0.75rem, 2vw + .55rem, 1rem);
$button-font-size: 1rem;
$button-font-weight: 700;

// Forms
$input-border-radius: $border-radius-s;
$input-border: 1px solid $utility-neutral-50;
$input-border-focus: 2px solid $theme-a-3;
$input-border-hover: 1px solid $theme-a-3;
$input-container-margin-bottom: 1rem;
$input-desktop-width: 325px;
$input-font-size: 1rem;
$input-margin: $spacing-xxs $spacing-xxs $spacing-xxs 0;
$input-padding: $spacing-xs;
$input-invalid-border-color: $utility-red-50;
$input-invalid-border-left-width: 3px;
$label-font-size: 1rem;
$label-font-weight: 700;
$required-color: $utility-red-50;

// Focus
$outline-offset-s: 3px;
$outline-offset-m: 4px;

// export for access within .tsx files not just .scss -- so we don't have to hardcode any vars!
:export {
	themeA1: $ic-blue-10;
	themeA2: $ic-blue-30;
	themeA3: $ic-blue-50;
	themeA4: $ic-blue-70;
	
	utilityGreen10: $utility-green-10;
	utilityGreen20: $utility-green-20;
	utilityGreen30: $utility-green-30;
	utilityGreen40: $utility-green-40;
	utilityGreen50: $utility-green-50;
	utilityGreen60: $utility-green-60;
	utilityGreen70: $utility-green-70;
	utilityGreen80: $utility-green-80;
	utilityGreen90: $utility-green-90;

	utilityRed10: $utility-red-10;
	utilityRed20: $utility-red-20;
	utilityRed30: $utility-red-30;
	utilityRed40: $utility-red-40;
	utilityRed50: $utility-red-50;
	utilityRed60: $utility-red-60;
	utilityRed70: $utility-red-70;
	utilityRed80: $utility-red-80;
	utilityRed90: $utility-red-90;

	utilityYellow10: $utility-yellow-10;
	utilityYellow20: $utility-yellow-20;
	utilityYellow30: $utility-yellow-30;
	utilityYellow40: $utility-yellow-40;
	utilityYellow50: $utility-yellow-50;
	utilityYellow60: $utility-yellow-60;
	utilityYellow70: $utility-yellow-70;
	utilityYellow80: $utility-yellow-80;
	utilityYellow90: $utility-yellow-90;

	utilityNeutral0: $utility-neutral-0;
	utilityNeutral05: $utility-neutral-05;
	utilityNeutral10: $utility-neutral-10;
	utilityNeutral20: $utility-neutral-20;
	utilityNeutral30: $utility-neutral-30;
	utilityNeutral40: $utility-neutral-40;
	utilityNeutral50: $utility-neutral-50;
	utilityNeutral60: $utility-neutral-60;
	utilityNeutral70: $utility-neutral-70;
	utilityNeutral80: $utility-neutral-80;
	utilityNeutral90: $utility-neutral-90;
	utilityNeutral100: $utility-neutral-100;

	spacingXXS: $spacing-xxs;
	spacingXS: $spacing-xs;
	spacingS: $spacing-s;
	spacingM: $spacing-m;
	spacingL: $spacing-l;
	spacingXL: $spacing-xl;
	spacingXXL: $spacing-xxl;
}
