@use "../app/variables.module.scss";

.section {
	margin-bottom: 20px;
}

.focusedSection {
	outline: 1px solid variables.$theme-a-3;
	outline-offset: 4px;
}

.title {
	margin-bottom: 0;
}

.section,
.button {
	border-radius: variables.$border-radius-s;
}

.button {
	background-color: variables.$utility-neutral-05;
	border: none;
	border-bottom: 2px solid variables.$utility-neutral-20;
	color: variables.$theme-a-4;
	font-size: 16px;
	font-weight: 700;
	padding: 14px 18px;
	text-align: left;
	width: 100%;

	&:hover {
		background-color: variables.$theme-a-1;
		border-bottom: 2.5px solid variables.$theme-a-3;
		color: variables.$theme-a-3;
	}

	&:focus-visible {
		border: 1px solid variables.$theme-a-3;
	}
}

.activeButton {
	border-radius: variables.$border-radius-s variables.$border-radius-s 0 0;
	border: 1px solid variables.$theme-a-3;
	border-bottom: none;
}

.icon,
.activeIcon {
	margin: 0 12px;
}

.activeIcon svg {
	transform: rotate(90deg);
}

.content {
	border-radius: 0 0 variables.$border-radius-s variables.$border-radius-s;
	border: 1px solid variables.$theme-a-3;
	padding: 20px;
	text-align: left;
}