@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
	@include mobile-100-w;
	@include buttons;

    &:focus-visible {
        outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-s
    }

	.innerButton {
		align-items: center;
		display: flex;
		justify-content: center;
	}
}
