@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    border-radius: variables.$spacing-xxs;
    border: none;
    color: variables.$utility-neutral-0;
    font-size: 17px;
    font-weight: 700;
    margin: 0 variables.$button-margin variables.$button-margin 0;
    padding: 12px 20px;

    &:focus-visible {
        outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-s
    }

    span:first-of-type {
        margin-right: 8px;
    }

    @include mobile-100-w;
}

.danger {
    background-color: variables.$utility-red-50;

    &:hover {
        background-color: variables.$utility-red-70;
    }
}

.success {
    background-color: variables.$utility-green-60;

    &:hover {
        background-color: variables.$utility-green-80;
    }
}

.disabled {
    background-color: variables.$utility-neutral-10;
    color: variables.$utility-neutral-60;
}
