@use "../app/variables.module.scss";

.alert {
	border-radius: 4px;
	display: grid;
	font-size: 14px;
	grid-template-columns: auto 1fr 20px;
	margin-bottom: 16px;
	max-width: 500px;
	padding: 16px;

	span:first-of-type {
		margin-right: 10px;
	}

	span:last-of-type {
		justify-self: right;
	}
}

.default {
	background-color: variables.$theme-a-1;
	border: 1px solid variables.$theme-a-2;
	color: variables.$theme-a-4;
}

.error {
	background-color: variables.$utility-red-10;
	border: 1px solid variables.$utility-red-20;
	color: variables.$utility-red-70;
}

.success {
	background-color: variables.$utility-green-10;
	border: 1px solid variables.$utility-green-20;
	color: variables.$utility-green-80;
}

.warning {
	background-color: variables.$utility-yellow-10;
	border: 1px solid variables.$utility-yellow-30;
	color: variables.$utility-yellow-90;
}

.button {
	align-self: start;
	background-color: transparent;
	border: none;
	padding: 0;
}