@use "../app/variables.module.scss";

.badge {
	border-radius: variables.$border-radius-l;
	display: inline-block;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 8px;
	margin: 0;
}

.hasMargin {
	margin: 0 12px 12px 0;
}

.default {
	background-color: variables.$theme-a-1;
	border: 1px solid variables.$theme-a-2;
	color: variables.$theme-a-4;
}

.error {
	background-color: variables.$utility-red-10;
	border: 1px solid variables.$utility-red-20;
	color: variables.$utility-red-70;
}

.success {
	background-color: variables.$utility-green-10;
	border: 1px solid variables.$utility-green-20;
	color: variables.$utility-green-80;
}

.warning {
	background-color: variables.$utility-yellow-10;
	border: 1px solid variables.$utility-yellow-30;
	color: variables.$utility-yellow-90;
}
