@use "../app/variables.module.scss";
@use '../app/mixins.scss' as *;

.button {
	@include buttons;

	background: none;
	border: none;
	border-radius: variables.$border-radius-s;
	color: variables.$utility-neutral-100;
	margin: 12px 20px;
	padding: 0;

	&.red,
	&.green,
	&.blue,
	&.disabled {
		background: none;

		&:hover {
			background: none;
		}
	}

	&.disabled {
		background: none;
		color: variables.$utility-neutral-60;
	}
}

.red {
	color: variables.$utility-red-50;

	&:hover {
		color: variables.$utility-red-70;
	}
}

.green {
	color: variables.$utility-green-60;

	&:hover {
		color: variables.$utility-green-80;
	}
}

.blue {
	color: variables.$theme-a-4;

	&:hover {
		color: variables.$theme-a-3;
	}
}

