@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    @include mobile-100-w;
    @include buttons;

    &.blue,
    &.green,
    &.red {
        background-color: variables.$utility-neutral-0;
    }

    &.blue:hover,
    &.green:hover,
    &.red:hover {
        color: variables.$utility-neutral-0;
    }

    &.blue {
        border: 2px solid variables.$theme-a-4;
        color: variables.$theme-a-4;

        &:hover {
            background-color: variables.$theme-a-3;
            border: 2px solid variables.$theme-a-3;
            color: variables.$utility-neutral-0;
        }
    }

    &.green {
        border: 2px solid variables.$utility-green-70;
        color: variables.$utility-green-70;

        &:hover {
            border: 2px solid variables.$utility-green-80;
            background-color: variables.$utility-green-80;
        }
    }

    &.red {
        border: 2px solid variables.$utility-red-50;
        color: variables.$utility-red-50;

        &:hover {
            border: 2px solid variables.$utility-red-70;
            background-color: variables.$utility-red-70;
        }
    }

    &.disabled {
        background-color: variables.$utility-neutral-10;
        color: variables.$utility-neutral-60;
    }
}
