@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    border-radius: variables.$border-radius-l;
    border: 2px solid variables.$utility-neutral-10;
    color: variables.$utility-neutral-0;
    font-size: 17px;
    font-weight: 700;
    margin: 0 variables.$button-margin variables.$button-margin 0;
    padding: 12px 70px;

    &:focus-visible {
        outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-s;
    }

    span {
        margin-left: variables.$spacing-xs;
    }

    @include mobile-100-w;
}

.blue {
    background-color: variables.$theme-a-4;

    &:hover {
        background-color: variables.$theme-a-3;
    }
}

.green {
    background-color: variables.$utility-green-60;

    &:hover {
        background-color: variables.$utility-green-80;
    }
}

.disabled {
    background-color: variables.$utility-neutral-10;
    color: variables.$utility-neutral-60;
}
