@use "../app/variables.module.scss";

.button {
	background-color: transparent;
	border: none;
	border-radius: variables.$border-radius-s;
	color: variables.$utility-neutral-100;
	font-size: variables.$button-font-size;
	font-weight: variables.$button-font-weight;
	margin: 0 variables.$spacing-m variables.$spacing-s variables.$spacing-m;

	&:focus-visible {
		outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-m;
	}
}

.blue {
	color: variables.$theme-a-4;

	&:hover {
		color: variables.$theme-a-3;
	}
}

.green {
	color: variables.$utility-green-60;

	&:hover {
		color: variables.$utility-green-80;
	}
}

.red {
	color: variables.$utility-red-60;

	&:hover {
		color: variables.$utility-red-80;
	}
}

.disabled {
	color: variables.$utility-neutral-10;
}
