@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    border-radius: 55px;
    border: 2px solid variables.$ic-neutral-10;
    color: variables.$ic-neutral-0;
    font-size: 17px;
    font-weight: 700;
    margin: 0 variables.$button-margin variables.$button-margin 0;
    padding: 12px 70px;

    &:focus-visible {
        outline: 2.5px solid variables.$ic-blue-50;
    }

    span {
        margin-left: 6px;
    }

    @include mobile-100-w;
}

.blue {
    background-color: variables.$ic-blue-70;

    &:hover {
        background-color: variables.$ic-blue-50;
    }
}

.green {
    background-color: variables.$ic-green-60;

    &:hover {
        background-color: variables.$ic-green-80;
    }
}

.disabled {
    background-color: variables.$ic-neutral-10;
    color: variables.$ic-neutral-60;
}
