@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    @include mobile-100-w;
	@include buttons;

    border-radius: variables.$border-radius-l;
    border: 2px solid variables.$utility-neutral-10;
    padding: variables.$button-padding-large;

    &:focus-visible {
        outline: 2.5px solid variables.$theme-a-3;
		outline-offset: variables.$outline-offset-s;
    }
}
