@use '../app/variables.module.scss';

.chip,
.chip .icon {
    align-items: center;
    display: grid;
}

.chip {
    background-color: variables.$theme-a-1;
    border-radius: variables.$border-radius-s;
    border: 1px solid variables.$theme-a-2;
    color: variables.$theme-a-4;
    font-size: 14px;
    font-weight: 700;
	grid-template-columns: repeat(2, auto);
    margin: 0;

	.title {
		margin: variables.$spacing-xxs variables.$spacing-xs;
	}

	.icon {
		padding: variables.$spacing-xxs;
	}

	.iconHover {
		background-color: variables.$theme-a-3;
	}
}

.chipHover {
	border: 1px solid variables.$theme-a-3;
}