@use '../app/variables.module.scss';

.link {
	color: variables.$theme-a-4;
	text-decoration: underline;

	&:hover {
		color: variables.$theme-a-3;
		text-decoration: none;
	}
}

.grey {
	color: variables.$utility-neutral-70;

	&:hover {
		color: variables.$utility-neutral-90;
	}
}
