@use '../app/variables.module.scss';

.link {
	color: variables.$theme-a-4;
	margin: 0 15px 15px 0;
	text-decoration: underline;

	&:hover {
		color: variables.$theme-a-3;
		text-decoration: none;
	}
}