@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    @include buttons;
    padding: variables.$spacing-xs;

    svg {
        fill: currentColor;
    }

    &:hover svg {
        fill: variables.$utility-neutral-0;
    }

	&.red,
	&.green,
	&.blue {
		background: none;
	}

    &.blue {
        border: 2px solid variables.$theme-a-4;
        color: variables.$theme-a-4;

        &:hover {
            background-color: variables.$theme-a-3;
            border-color: variables.$theme-a-3;
            color: variables.$utility-neutral-0;
        }
    }

    &.green {
        border: 2px solid variables.$utility-green-70;
        color: variables.$utility-green-70;

        &:hover {
            background-color: variables.$utility-green-80;
            border-color: variables.$utility-green-80;
            color: variables.$utility-neutral-0;
        }
    }

    &.red {
        border: 2px solid variables.$utility-red-50;
        color: variables.$utility-red-50;

        &:hover {
            background-color: variables.$utility-red-70;
            border-color: variables.$utility-red-70;
            color: variables.$utility-neutral-0;
        }
    }

    &.disabled {
        background-color: variables.$utility-neutral-10;
        border: none;
        color: variables.$utility-neutral-60;

        &:hover {
            background-color: variables.$utility-neutral-10;
            border: none;
            color: variables.$utility-neutral-60;

            svg {
                fill: variables.$utility-neutral-60;
            }
        }
    }
}
