@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    @include buttons;

	align-items: center;
	display: inline-flex;
    padding: variables.$spacing-xs;

    svg {
        fill: currentColor;
    }

    &:hover svg {
        fill: variables.$utility-neutral-0;
    }

	&.red,
	&.green,
	&.blue {
		background: none;
	}

	&.red {
        color: variables.$utility-red-70;

        &:hover {
            background-color: variables.$utility-red-50;
            color: variables.$utility-neutral-0;
        }
    }

    &.green {
        color: variables.$utility-green-80;

        &:hover {
            background-color: variables.$utility-green-60;
            color: variables.$utility-neutral-0;
        }
    }

    &.blue {
        color: variables.$theme-a-3;

        &:hover {
            background-color: variables.$theme-a-4;
            color: variables.$utility-neutral-0;
        }
    }

    &.disabled {
        background-color: variables.$utility-neutral-10;
        border: none;
        color: variables.$utility-neutral-60;

        &:hover {
            background-color: variables.$utility-neutral-10;
            border: none;
            color: variables.$utility-neutral-60;

            svg {
                fill: variables.$utility-neutral-60;
            }
        }
    }
}
