@use "../app/variables.module.scss";

.button {
	background: none;
	border: none;
	color: variables.$theme-a-4;
	font-size: 20px;
	font-weight: 700;
	margin: 0 variables.$button-margin variables.$button-margin 0;
	padding: 12px 20px;

	&:focus-visible {
		border-radius: variables.$border-radius-s;
		outline: 2.5px solid variables.$theme-a-3;
	}

	span:last-of-type {
		margin-left: 6px;
	}

	span:first-of-type {
		margin-right: 6px;
	}
}

.blue {
	color: variables.$theme-a-4;

	&:hover {
		color: variables.$theme-a-3;
	}
}

.green {
	color: variables.$utility-green-70;

	&:hover {
		color: variables.$utility-green-80;
	}
}

.red {
	color: variables.$utility-red-50;

	&:hover {
		color: variables.$utility-red-70;
	}
}

.disabled {
	color: variables.$utility-neutral-60;
}
