@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

@include inputs;

.inputContainer,
.inputInnerContainer,
.input {
	width: variables.$input-desktop-width;
}

.inputContainer {
    margin-bottom: variables.$input-container-margin-bottom;
	
    .inputInnerContainer {
		margin: variables.$input-margin;
        position: relative;

        .inputAdornment {
			align-items: center;
			display: flex;
			font-size: variables.$input-font-size;
			height: 100%;
			margin: 0 variables.$spacing-s;
			position: absolute;
        }
    }
}
