@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.inputContainer {
	margin-bottom: variables.$input-container-margin-bottom;
}

.input {
	border: variables.$input-border;
	border-radius: variables.$input-border-radius;
	font-size: variables.$input-font-size;
	height: variables.$input-height;
	margin: variables.$input-margin;
	padding: variables.$input-padding;
	width: variables.$input-desktop-width;

	&:focus-visible {
		border: variables.$input-border-focus;
	}

	&:hover {
		border: variables.$input-border-hover;
	}

	@include mobile-100-w;
}

.input[aria-invalid='true'] {
	border-color: variables.$input-invalid-border-color;
	border-left-width: variables.$input-invalid-border-left-width;
}


