@use '../app/variables.module.scss';

.label {
	display: block;
	font-size: variables.$label-font-size;
	font-weight: variables.$label-font-weight;
}

.required {
	color: variables.$required-color;
}
