@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.button {
    @include buttons;
	
	align-items: center;
	display: inline-flex;
	justify-content: center;
	line-height: 1;
	padding: 4px;
	vertical-align: middle;
    color: variables.$theme-a-4;

	.iconStart,
	.iconEnd {
		align-items: center;
		display: flex;
	}

	&.red,
	&.green,
	&.blue,
	&.disabled {
		background: none;

		&:hover {
			background: none;
		}
	}

    &.red {
        color: variables.$utility-red-50;

        &:hover {
            color: variables.$utility-red-70;
        }
    }

    &.green {
        color: variables.$utility-green-70;

        &:hover {
            color: variables.$utility-green-80;
        }
    }

    &.blue {
        color: variables.$theme-a-4;

        &:hover {
            color: variables.$theme-a-3;
        }
    }

    &.disabled {
        color: variables.$utility-neutral-60;
    }
}
