@use '../app/variables.module.scss';
@use '../app/mixins.scss' as *;

.checkbox {
	@include checkboxes;

	// margin: 0 10px 0 0;

	&.partialCheck {
		background-color: variables.$theme-a-3;
		border-color: variables.$theme-a-3;
	}

	&.partialCheck::before {
		background-color: variables.$utility-neutral-0;
		clip-path: none;
		content: '';
		height: 2px;
		transform: scale(1);
		width: 0.65em;
	}
}
