@use '../app/variables.module.scss';

.tab {
	background-color: variables.$utility-neutral-05;
	border: 1px solid variables.$utility-neutral-20;
	border-bottom: 2px solid variables.$utility-neutral-20;
	border-radius: variables.$border-radius-s variables.$border-radius-s 0 0;
	color: variables.$theme-a-4;
	font-size: clamp(.8rem, 2vw + 0.5rem, 1.15rem);
	font-weight: 700;
	padding: variables.$spacing-xs variables.$spacing-s;

	&:hover {
		color: variables.$theme-a-3;
	}

	@media (max-width: 500px) {
		display: block;
		border: none;
		border-right: 2px solid variables.$utility-neutral-20;
		padding: 12px variables.$spacing-s;
	}
}

.tab[aria-selected="true"] {
	background-color: transparent;
	border: 2px solid variables.$utility-neutral-30;
	border-bottom: none;
	color: variables.$utility-neutral-80;

	@media (max-width: 500px) {
		border: 2px solid variables.$utility-neutral-20;
		border-right: none;
		border-radius: variables.$border-radius-s 0 0 variables.$border-radius-s;
	}
}
