@use '../app/variables.module.scss';

.tab {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid variables.$ic-neutral-20;
	color: variables.$ic-blue-70;
	font-size: 20px;
	font-weight: 700;
	padding: 15px 20px;

	&:hover {
		color: variables.$ic-blue-50;
	}
}

.tab[aria-selected="true"] {
	border-top: 2px solid variables.$ic-neutral-20;
	border-left: 2px solid variables.$ic-neutral-20;
	border-right: 2px solid variables.$ic-neutral-20;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	color: variables.$ic-neutral-80;
}
