@use '../app/variables.module.scss';

.componentDisplayArea {
    border-radius: 10px;
    border: variables.$component-area-border;
    margin: variables.$spacing-m auto;
    max-width: 1170px;
    padding: variables.$spacing-m;
}
